body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #222;
  border-radius: 12px;
  padding: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
  background: #000;
  display: block;
}


.card h2 {
  margin: 10px 0 5px;
}

.card p {
  color: #ccc;
  font-size: 0.9em;
}

